version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READER_TOKEN}}

updates:
    - package-ecosystem: github-actions
      directory: /
      schedule:
          interval: daily
      open-pull-requests-limit: 1
    - package-ecosystem: npm
      directory: /
      schedule:
          interval: daily
      open-pull-requests-limit: 1
    - package-ecosystem: docker
      directory: /
      schedule:
          interval: daily
      open-pull-requests-limit: 1
      ignore:
        - dependency-name: 'cgr-nav/pull-through/nav.no/node'
